<div class="search-container" style="width: 24%; margin:auto">
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="productInputName" [ngModelOptions]="{standalone: true}">
  </form>
</div>
<div class="card-container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let product of products | searchProduct:productInputName" style="padding: 0;">
          <div class="col">
              <div class="card" >
                  <img src="{{ product.picture }}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">prezzo: {{ product.price  | currency:'EUR'}} </p>
                      <button type="button" (click)="setProductNameSelected(product.name); addToCart(product)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add to cart</button>
                      <app-modal [productName]="productNameSelected"></app-modal>
                      <button type="button" class="btn btn-info" routerLink="/products/product/{{product.code}}">More details</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


