<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centere">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">You have added {{ productName }} to cart!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-secondary">Go to cart</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Contiue shopping</button>
      </div>
    </div>
  </div>
</div>
